:root {
  --bg-dark: #0D1117;
  --bg-light: #1D1C3B;
  --primary-cyan: #08E2FF;
  --primary-magenta: #F022A8;
  --text-light: #E6F1FF;
  --text-dark: #a9a9a9;
  --font-heading: 'Press Start 2P', cursive;
  --font-body: 'Inter', sans-serif;
}
